<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Puerto Rico</string>
	<string>Guatemala</string>
	<string>Colombia</string>
	<string>Peru</string>
	<string>Ecuador</string>
	<string>Venezuela</string>
	<string>Brasil</string>
	<string>USA</string>
	<string>Chile</string>
	<string>Argentina</string>
	<string>Panama</string>
	<string>Uruguay</string>
</array>
</plist>
